.main-header {
  display: flex;
  width: 100%;
  height: 75px;
  padding-right: 1rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.main-header__titulo {
  font-size: 2rem;
  color: var(--main-text-color);
}

.main-header__sesion {
  display: none;
}

.main-header__menu-container {
  position: relative;
}

.main-header__opciones {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  background: none;
  border: none;
  cursor: pointer;
}

.main-header__opciones.isActive {
  color: var(--brand-color);
}

.main-header__menu {
  margin-top: 1.2rem;
  width: 100vw;
  position: absolute;
  display: none;
  padding: 1rem 0  1rem 1.875rem;
  background-color: #fff;
  border-radius: .75rem;
  border: 1px solid transparent;
}

.main-header__menu.isActive {
  display: block;
}

.main-header__menu ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
}

.main-header__menu li {
  margin: .5rem 0;
}

.main-header__menu a {
  font-size: 1.125rem;
  color: var(--main-text-color);
  text-decoration: none;
}


@media screen and (min-width: 920px){
  .main-header {
    padding-right: 2rem;
  }
  .main-header__sesion--icon {
    display: none;
  }

  .main-header__sesion {
    display: flex;
    gap: 0.5rem;
  }

  .main-header__menu {
    margin: 1.5rem 0 0 1rem;
    width: 30vw;
    box-shadow: 4px 4px 15px -3px rgba(0,0,0,0.75);
  }
}