:root {
  --main-background: #bbbbbb;
  --secundary-background: #1e2a38;
  --main-text-color: #000;
  --secundary-text-color: #fff;
  --gray-color: #333333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  font-family: 'Noto Sans';
  background-color: var(--main-background);
}
