:root {
  --main-background: #bbbbbb;
  --secundary-background: #1e2a38; 
  --brand-color: #8B0000;
  --main-text-color: #000;
  --secundary-text-color: #fff;
  --gray-color: #333333;
  --btn-main-color: #400000;
  --btn-secundary-color: #0f1111;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  font-family: 'Noto Sans';
}

hr {
  height: 4px;
  background-color: var(--brand-color);
  margin: 0;
  opacity: .75;
  border-top: 0;
}