:root {
  --main-background: #bbbbbb;
  --secundary-background: #1e2a38;
  --brand-color: #8b0000;
  --main-text-color: #000;
  --secundary-text-color: #fff;
  --gray-color: #333333;
  --btn-main-color: #400000;
  --btn-secundary-color: #0f1111;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  font-family: 'Noto Sans';
}

hr {
  height: 4px;
  background-color: var(--brand-color);
  margin: 0;
  opacity: 0.75;
  border-top: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}
